
@{
    ViewBag.Title = "GEN - TOEFL Preparation";
    Layout = "~/Views/Shared/_LayoutPageGen.cshtml";
}

@Styles.Render("~/Content/css/gen-custom.css");

<div id="programTOEFLPreparation">
    <div class="container">
        <div class="row demo-3" style="margin-top:50px">
            <h1>TOEFL PREPARATION</h1>
            <div>
                <h3>Fitur Program</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px"><p>4 tingkat (1,2,3,4)</p></div>
                    <div class="row" style="margin:0px"><p></p></div>
                    <div class="row" style="margin:0px"><p>Periode belajar 44 jam/level (termasuk ujian kenaikan tingkat)</p>Materi pengajaran dibuat oleh Sub-Directorate GEN</div>
                    <div class="row" style="margin:0px"><p>Pengajar kursus adalah staf pengajar GEN dengan pengalaman mengajar minimal 4 tahun</p></div>
                </div>
                <h3>Tujuan Pembelajaran</h3>
                <div style="margin-left:23px">
                    <p> Pengajar kursus adalah staf pengajar LBPP LIA dengan pengalaman mengajar minimal 4 tahun.</p>
                </div>
                <h3>Biaya/Tingkat/Siswa</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px"><p>Rp. 900.000,-</p></div>
                    <div class="row" style="margin:0px"><p>Pembayaran dapat diangsur: Angsuran ke-1 Rp. 500.000, angsuran ke-2 Rp. 250.000, angsuran ke-3 Rp. 150.000</p></div>
                    <div class="row" style="margin:0px"><p>Biaya sudah termasuk: Materi pengajaran, evaluasi, dan sertifikat</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

