
@{
    ViewBag.Title = "GEN - General English";
    Layout = "~/Views/Shared/_LayoutPageGen.cshtml";
}

@Styles.Render("~/Content/css/gen-custom.css");

<div id="programGeneralEnglish">
    <div class="container">
        <div class="row demo-3" style="margin-top:50px">
            <h1>GENERAL ENGLISH</h1>
            <div>
                <h2>English For Children</h2>
                <div style="margin-left:23px">
                    <p>Program yang dirancang khusus untuk anak usia Sekolah Dasar (6-12 tahun) dengan tujuan memberikan eksposur pada penggunaan bahasa Inggris sehari-hari. Pelajaran disampaikan secara komunikatif dan menyenangkan, sehingga anak-anak merasa senang di dalam mempelajari bahasa pergaulan dunia ini.</p>
                </div>
                <h3>Fitur Program English For Children</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px">6 tingkat (2 paket per level)</div>
                    <div class="row" style="margin:0px">Satu tahun per tingkat, 6 bulan per paket</div>
                    <div class="row" style="margin:0px">EC-1 s/d EC-3: 1 jam per sesi (total belajar 42 jam)</div>
                    <div class="row" style="margin:0px">EC-4 s/d EC-6: 1,5 jam per sei (total belajar 66 jam)</div>
                </div>
                <h3>Tujuan Pembelajaran</h3>
                <div style="margin-left:23px">
                    <p>Meningkatkan kemampuan berbicara, mendengar, membaca dan menulis, peserta memperluas kosakata dan meningkatkan kemampuan tata bahasa peserta secara sistematis. Membangun rasa percaya diri peserta dalam berbahasa Inggris. Memperkenalkan peserta kepada tradisi dan budaya dari Indonesia dan dari negara lain.</p>
                </div>
            </div>
            <div>
                <h2>English For Adult</h2>
                <div style="margin-left:23px">
                    <p>Program yang disusun untuk pelajar SMA, mahasiswa dan umum dengan tujuan untuk meningkatkan kemampuan berkomunikasi dan percaya diri dalam berbahasa Inggris secara lisan dan tulisan.</p>
                </div>
                <h3>Fitur Program English For Adult</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px">6 tingkat (2 paket per level)</div>
                    <div class="row" style="margin:0px">Satu tahun per tingkat, 6 bulan per paket</div>
                    <div class="row" style="margin:0px">EC-1 s/d EC-3: 1 jam per sesi (total belajar 42 jam)</div>
                    <div class="row" style="margin:0px">EC-4 s/d EC-6: 1,5 jam per sei (total belajar 66 jam)</div>
                </div>
                <h3>Tujuan Pembelajaran</h3>
                <div style="margin-left:23px">
                    <p>Meningkatkan kemampuan berbicara, mendengar, membaca dan menulis. Memperluas kosakata dan meningkatkan kemampuan tata bahasa peserta secara sistematis Membangun rasa percaya diri peserta dalam berbahasa Inggris. Memperkenalkan peserta kepada tradisi dan budaya dari Indonesia dan dari negara lain</p>
                </div>
            </div>
        </div>
    </div>
</div>



