
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_LayoutPageGen.cshtml";
}
@Styles.Render("~/Content/css/gen-custom.css")
<h2>Program</h2>
<div id="programdetil">
    <div class="container">
        <div class="row demo-3" style="margin-top:50px">
            <h1>GENERAL ENGLISH</h1>
            <h2>Speaking</h2>
            @*<div style="border-bottom: 2px solid #dc5034;padding-top: 20px;padding-bottom: 20px;margin-bottom: 40px;">
                <span style="font-family: 'Raleway', sans-serif;font-weight: bold; font-size:30px">GENERAL ENGLISH</span>
            </div>*@
            @*<h3><span class="label label-primary">GENERAL ENGLISH</span></h3>*@
        </div>
    </div>
</div>



