
@{
    ViewBag.Title = "GEN - Special Purpose";
    Layout = "~/Views/Shared/_LayoutPageGen.cshtml";
}

@Styles.Render("~/Content/css/gen-custom.css");

<div id="programSpecialPurpose">
    <div class="container">
        <div class="row demo-3" style="margin-top:50px">
            <h1>GENERAL ENGLISH</h1>
            <div>
                <h2>Conversation in English</h2>
                <div style="margin-left:23px">
                    <p>Program ini ditujukan bagi anda yang ingin mengasah kemampuan berkomunikasi dalam bahasa Inggris secara lisan untuk kebutuhan sehari-hari maupun bisnis.</p>
                </div>
                <h3>Fitur Program</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px">6 tingkat (2 paket per level)</div>
                    <div class="row" style="margin:0px">2 Bulan (44 jam pertingkat)</div>
                </div>
                <h3>Tujuan Pembelajaran</h3>
                <div style="margin-left:23px">
                    <p>Untuk meningkatkan kemampuan peserta dalam menggunakan strategi dan teknik komunikasi di dunia kerja, serta penguasaan dalam tata bahasa dan kosa kata.</p>
                </div>
            </div>
            <div>
                <h2>Business Conversation</h2>
                <div style="margin-left:23px">
                    <p>Program yang dipersiapkan bagi anda yang membutuhkan ketrampilan berbahasa Inggris dalam menunjang pekerjaan sehari-hari di lingkungan kerja/bisnis, seperti: berkirim surat, e-mail, bertelepon, membicarakan pekerjaan, bernegosiasi dll.</p>
                </div>
                <h3>Fitur Program</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px">5 tingkat (<span style="font-style:italic">Beginner, Elementary, Pre Intermediate, Intermediate, High Intermediate</span>)</div>
                    <div class="row" style="margin:0px">5 Bulan (64 jam pertingkat)</div>
                    <div class="row" style="margin:0px">2 sesi per minggu (2 jam per sesi)</div>
                </div>
                <h3>Tujuan Pembelajaran</h3>
                <div style="margin-left:23px">
                    <p>Untuk membantu peserta meningkatkan kemampuan berbicara dalam Bahasa Inggris di dunia kerja/bisnis, perjalanan bisnis, dan dalam kehidupan sehari-hari.</p>
                </div>
            </div>
            <div>
                <h2>English for Academic Purpose</h2>
                <div style="margin-left:23px">
                    <p>Program ini dirancang untuk pelajar, mahasiswa, dan umum yang ingin melanjutkan studi ke luar negeri. Materi program ini meliputi kecakapan berbahasa (mendengar, berbicara, membaca, dan menulis) serta kemampuan.</p>
                </div>
                <h3>Fitur Program</h3>
                <div style="margin-left:23px">
                    <div class="row" style="margin:0px">5 tingkat (<span style="font-style:italic">Beginner, Elementary, Pre Intermediate, Intermediate, High Intermediate</span>)</div>
                    <div class="row" style="margin:0px">5 Bulan (64 jam pertingkat)</div>
                    <div class="row" style="margin:0px">2 sesi per minggu (2 jam per sesi)</div>
                </div>
                <h3>Tujuan Pembelajaran</h3>
                <div style="margin-left:23px">
                    <p>Untuk membantu peserta meningkatkan kemampuan berbicara dalam Bahasa Inggris di dunia kerja/bisnis, perjalanan bisnis, dan dalam kehidupan sehari-hari.</p>
                </div>
            </div>
        </div>
    </div>
</div>

