
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPageLumino.cshtml";
    ViewBag.HeaderPage = "Change Password";
    ViewBag.CompleteName = Session["COMPLETENAME"];
    ViewBag.UrlPage = "Change Password";
}

@{ 
    var MESSAGE = "";
    var ERRORMESSAGE = "";
    if (ViewData["MESSAGE"].ToString() != "" || ViewData["ERRORMESSAGE"].ToString() != "")
    {
        MESSAGE = ViewData["MESSAGE"].ToString();
        ERRORMESSAGE = ViewData["ERRORMESSAGE"].ToString();
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Input Password</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <form role="form" id="fmChangePass">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" id="CurrentPassword" class="form-control field" placeholder="Current Password" name="CurrentPassword" required>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" id="NewPassword" class="form-control field" placeholder="New Password" name="NewPassword" required>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" id="ConfirmPassword" class="form-control field" placeholder="Confirm Password" name="ConfirmPassword" required>
                        </div>
                        <div>
                            <button id="btnChangePass" class="btn btn-primary btn-block" style="width:100px">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnChangePass").click(function () {
        $.url = "/BackEnd/SaveChangePassword";
        $.data = {
            _CurrentPassword: $("#CurrentPassword").val(),
            _NewPassword: $("#NewPassword").val(),
            _ConfirmPassword: $("#ConfirmPassword").val()
        };
        var posting = $.post($.url, $.data);
        posting.success(function (data) {
            if (data != null) {
                console.log('data=>' + data);
            }
        });
    });
</script>