
@{
    ViewBag.Title = "MasterEmail";
    Layout = "~/Views/Shared/_LayoutPageLumino.cshtml";
    ViewBag.HeaderPage = "Master Email";
    ViewBag.CompleteName = Session["COMPLETENAME"];
    ViewBag.UrlPage = "Master / Email";
}
<style type="text/css">
	#popUpEmail .modal-dialog  {width:1000px;}
</style>
<div>
    <div>
        <table id="tblEmail" class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Email ID</th>
                    <th>Sender Name</th>
                    <th>Sender Email</th>
                    <th>Sender Phone</th>
                    <th>Send Date</th>
                    <th>Question</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div id="popUpEmail" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$('#popUpEmail').modal('hide'); clearPopUpValue();">&times;</button>
                    <h2 class="modal-title">Message Detil</h2>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body" id="divPanelBodyPopUp">
                            <div class="form-group">
                                <label>Sender Name</label>
                                <span id="spanSenderName" class="form-control"></span>
                            </div>
                            <div class="form-group">
                                <label>Sender Email</label>
                                <span id="spanSenderEmail" class="form-control"></span>
                            </div>
                            <div class="form-group">
                                <label>Sender Question</label>
                                <span id="spanSenderQuestion" class="form-control"></span>
                            </div>
                            <div class="form-group">
                                <label>Question Type</label>
                                <select class="form-control" id="comboQuestion" required>
                                    <option value=""></option>
                                    <option value="Q001">Program</option>
                                    <option value="Q002">Harga</option>
                                    <option value="Q003">Fasilitas</option>
                                    <option value="Q004">Pengajar</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Reply Message</label>
                                <textarea id="txtReplyMessage" class="form-control" rows="3" required></textarea>
                            </div>
                            <button id="btnSendEmail" type="submit" class="btn btn-primary" style="width:100px" data-emailid="" onclick="senMessage(this);">Send Email</button>
                            &nbsp;&nbsp;
                            <button id="btnCancel" type="submit" class="btn btn-warning" style="width:100px" onclick="$('#popUpEmail').modal('hide'); clearPopUpValue();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section JSSection {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/dataRender/datetime.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tblEmail').DataTable({
                ajax: {
                    url: "/BackEnd/getQuestion?EmailID=",
                    dataSrc: ''
                },
                "columns": [
                    { "data": "EmailID" },
                    { "data": "EmailID" },
                    { "data": "SenderFullName" },
                    { "data": "SenderPhone" },
                    { "data": "SenderEmail" },
                    { "data": "CreatedDate" },
                    { "data": "SenderQuestion" }],
                "order": [[1, 'asc']],
                "columnDefs": [{
                    "targets": 1,
                    "data": "EmailID",
                    "render": function (data, type, full, meta) {
                        return '<button style="width:100px;font-weight:bold" class="cell-datatables btn btn-primary btn-mini" data-emailid="' + data + '">' + data + '</button>';
                    }
                }]
            });
            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
            $('#tblEmail tbody').on('click', 'button', function () {
                var datarow = table.row($(this).parents('tr')).data();
                var EmailID = $(this).data("emailid");
                $("#spanSenderName").text(datarow.SenderFullName);
                $("#spanSenderQuestion").text(datarow.SenderQuestion);
                $("#spanSenderEmail").text(datarow.SenderEmail);
                $("#spanSenderPhone").text(datarow.SenderPhone);
                $("#btnSendEmail").attr("data-emailid", EmailID);
                $("#popUpEmail").modal("show");
            });
        });
        function clearPopUpValue() {
            $("#spanSenderName").text("");
            $("#spanSenderQuestion").text("");
            $("#spanSenderEmail").text("");
            $("#spanSenderPhone").text("");
            $("#txtReplyMessage").val("");
        }
        function senMessage(element) {
            var EmailID = $(element).data("emailid");
            var parameter = {
                ReplyMessage: $("#txtReplyMessage").val(),
                EmailCategory: $("#comboQuestion").val(),
                EmailID: EmailID
            }
            if (EmailID != null && EmailID != '') {
                $.ajax({
                    url: "/BackEnd/ReplyMessage",
                    type: "POST",
                    dataType: "json",
                    timeout: 100000,
                    data: (parameter),
                    beforeSend: function () {
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log('data: ' + data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                    complete: function () {
                    }
                });
            }
        }
    </script>
}

