
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>Lokasi</h2>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-1 col-sm-1"></div>
                <div id="outerdiv"  class="col-md-10 col-sm-10">
                    <div id="map" style="width:920px;height:450px">
                    </div>
                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>
        </div>
        @Html.Partial("PartialDivider")
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>Pertanyaan</h2>
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
                <div class="col-md-12 col-sm-12">
                    <input type="text" id="SenderFullName" placeholder="Name" class="form-control" required>
                </div>
                <div class="col-md-6 col-sm-6">
                    <input type="email" id="SenderEmail" placeholder="Email" class="form-control" required>
                </div>
                <div class="col-md-6 col-sm-6">
                    <input type="text" id="SenderPhone" placeholder="Phone" class="form-control" required>
                </div>
                <div class="col-md-12 col-sm-12">
                    <textarea placeholder="Message" id="SenderQuestion" class="form-control" rows="5" required></textarea>
                </div>
                <div class="col-md-8 col-sm-8">
                    <p style="font-size:12px">* Mohon input email yang masih aktif, agar mudah dibalas oleh customer service kami</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <input type="submit" id="btnKirimPesan" value="KIRIM PESAN" class="form-control" onclick="sendMessage(this); return false;">
                </div>
                <div id="divInfoMsg" class="col-md-12 col-sm-12" style="display:none">
                    <div class="alert alert-info alert-normal-info">
                        <button type="button" class="close">×</button>
                        <span id="msgInfo"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Key = '<%= ViewData["MAPS_API_KEY"].ToString() %>';
    var map;
    var latlang = { lat: -6.3521404099315415, lng: 106.83246955275536 };
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: latlang,
            zoom: 17
        });
        var marker = new google.maps.Marker({
            position: latlang,
            map: map,
            title: 'GEN'
        });
    }
    function sendMessage(element) {
        var parameter = {
            SenderFullName: $("#SenderFullName").val(),
            SenderEmail: $("#SenderEmail").val(),
            SenderPhone: $("#SenderPhone").val(),
            SenderQuestion: $("#SenderQuestion").val()
        }
        waitingDialog.show('Mohon ditunggu, data sedang dikirim');
        setTimeout(function () { waitingDialog.hide(); }, 3000);
        $.ajax({
            url: "/Main/SendQuestion",
            type: "POST",
            dataType: "json",
            timeout: 200000,
            data: (parameter),
            beforeSend: function () {
                $("#divInfoMsg").text("");
            },
            success: function (data, textStatus, jqXHR) {
                waitingDialog.hide();
                alert(data.Description);
                //$("#msgInfo").text(data.Description);
                //$('#divInfoMsg').show();
                //$('#divInfoMsg').delay(6000).fadeOut("slow", function () {
                //    // Animation complete.
                //    $('#divInfoMsg').prop("disabled", false);
                //});
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
            complete: function () {
            }
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYLFXTmSvtE3gqHcChc6fgXTC6wHmmfMY&callback=initMap"></script>


