<!-- home section -->
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
                <h2>welcome to</h2>
                <h1>Global <strong>English Network</strong></h1>
                <p style="font-size:medium;font-weight:bold">We're not the first but the best.</p>
                <a style="display:none" href="#service" class="btn btn-default smoothScroll">GET STARTED</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>