<div id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title text-center">
                    <h2>Profil</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div style="padding-left:20px;padding-right:20px">
                    <p style="text-align:center">
                        <strong>GLOBAL ENGLISH NETWORK</strong> adalah lembaga non-formal yang komprehensif, intensif, dan terbuka yang mencakup seluruh disiplin yang berkaitan dengan bahasa Inggris.
                        GEN saat ini secara simultan selalu berusaha menjadi salah satu institusi atau lembaga kursus terkemuka di Indonesia.
                        Sebagai lembaga kursus, upaya-upaya pencapaian tertinggi dalam hal pengembangan skill berbahasa Inggris dan inovasi metode pengajaran secara sistemik selalu dilakukan.
                        Sementara itu, GEN juga memperdalam komitmen dalam upayanya di bidang pengembangan bahasa yang bersifat akademik melalui sejumlah disiplin atau program yang ada dilingkupnya, seperti TOEFL, IELTS, dan Writing.
                    </p>
                    <p style="text-align:center">
                        <strong>GLOBAL ENGLISH NETWORK</strong> berdiri pada tahun 2008 dan merupakan representasi institusi pendidikan dengan usia yang masih muda dibandingkan institusi-institusi lain yang ada di Kampung Inggris. Telah menghasilkan lebih dari 6000 alumni,
                        GE secara kontinyu melanjutkan peran pentingnya di level nasional bahkan dunia dalam hal pendidikan bahasa Inggris. Bagaimanapun GE tidak bisa melepaskan diri dari misi terkininya menjadi institusi pendidikan
                        atau lembaga kursus bahasa Inggris yang berkualitas tinggi dengan standar eropa selaku pemilik bahasa dan menjaga standar out put yang mumpuni dalam bahasa Inggris, baik secara akademis maupun non-akademis. Dengan predikat sebagai lembaga terlengkap ini,
                        GE secara aktif mengembangkan disiplin-disiplin keilmuan mulai dari level dasar sampai level tinggi. Beberapa disiplin yang saat ini dikembangkan diantaranya adalah Pre-Speaking, Speaking 1-5, Public Speaking, Grammar for Speaking,
                        Job Interview, Vocabulary in Use 1-3, Pronounciation 1-2, Fun Listening, Listening, Listening for TOEFL 1-2, Grammar 1-2, Grammar for Writing, Grammar for TOEFL 1-2, Writing 1-3, Fun Reading, Reading, Reading for TOEFL 1-2, TOEFL dan IELTS.
                    </p>
                </div>
            </div>
            @*<div class="col-md-3 col-sm-3">
                <img src="../../Images/team1.jpg" class="img-responsive" alt="team img">
                <h3>Dr. Zulfahmi</h3>
                <h4>Owner</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="../../Images/team2.jpg" class="img-responsive" alt="team img">
                <h3>Nando Firdaus</h3>
                <h4>Director</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="../../Images/team3.jpg" class="img-responsive" alt="team img">
                <h3>Syahrial</h3>
                <h4>Operational Manager</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="../../Images/team4.jpg" class="img-responsive" alt="team img">
                <h3>Restu</h3>
                <h4>Finance Manager</h4>
            </div>*@
        </div>
    </div>
</div>
