<div id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title text-center">
                    <h2>Galeri</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_1">
                        @*<h2 class="moduleTitle">General English</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_2">
                        @*<h2 class="moduleTitle">Special Purpose</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_3">
                        @*<h2 class="moduleTitle">TOEFL Preparation</h2>*@
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_4">
                        @*<h2 class="moduleTitle">General English</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_5">
                        @*<h2 class="moduleTitle">Special Purpose</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_6">
                        @*<h2 class="moduleTitle">TOEFL Preparation</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
