<div id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title text-center">
                    <h2>Galeri</h2>
                </div>
                <!-- ISO section -->
                @*<div class="iso-section">
                    <ul class="filter-wrapper clearfix">
                        <li><a href="#" data-filter="*" class="selected opc-main-bg">Class Room</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".html">Helpdesk</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Food Court</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".wordpress">Meeting Room</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".mobile">Parking Area</a></li>
                    </ul>
                    <div class="iso-box-section">
                        <div class="iso-box-wrapper col4-iso-box">
                            <div class="iso-box html photoshop wordpress mobile col-md-4 col-sm-4 col-xs-12"><a href="../../Images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img1.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box html wordpress mobile col-md-4 col-sm-4 col-xs-12"><a href="../../Images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img2.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box wordpress col-md-4 col-sm-4 col-xs-12"><a href="../../Images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img3.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box html mobile col-md-6 col-sm-6 col-xs-12"><a href="../../Images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img4.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box wordpress col-md-6 col-sm-6 col-xs-12"><a href="../../Images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img5.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box html photoshop col-md-4 col-sm-4 col-xs-12"><a href="../../Images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img6.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box photoshop col-md-4 col-sm-4 col-xs-12"><a href="../../Images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img7.jpg" alt="portfolio img"></a></div>
                            <div class="iso-box wordpress col-md-4 col-sm-4 col-xs-12"><a href="../../Images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="../../Images/portfolio-img8.jpg" alt="portfolio img"></a></div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_1">
                        @*<h2 class="moduleTitle">General English</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_2">
                        @*<h2 class="moduleTitle">Special Purpose</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_3">
                        @*<h2 class="moduleTitle">TOEFL Preparation</h2>*@
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_4">
                        @*<h2 class="moduleTitle">General English</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_5">
                        @*<h2 class="moduleTitle">Special Purpose</h2>*@
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module Facilities_6">
                        @*<h2 class="moduleTitle">TOEFL Preparation</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
