@Styles.Render("~/Content/css/gen-custom.css")

<div id="program">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title text-center">
                    <h2>Program</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module general-english">
                        <h2 class="moduleTitle">General English</h2>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module special-purpose">
                        <h2 class="moduleTitle">Special Purpose</h2>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="textOnImage module toefl-preparation">
                        <h2 class="moduleTitle">TOEFL Preparation</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
